{
  "port": 9999,
  "mongo_url": "mongodb://localhost:27017/rocon_composer",
  "rocon_protocols_webserver_address" : "http://localhost:10000",
  "log_level": "info",
  "service_repo_base": "robotics-in-concert/service_repository",
  "service_repo_branch": "master",
  "service_repo": "eskim/service_repository",
  "rapp_repo_base": "eskim/test_ros_packages",
  "rapp_repo_branch": "branch0001",
  "rapp_repo": "waypoint/test_ros_packages",
  "hic_app_repo_base": "eskim/test_ros_packages",
  "hic_app_repo": "waypoint/test_ros_packages",
  "hic_app_repo_branch": "branch0001",
  "hic_app_repo_path": "hic_apps",
  "rapp_repo": "waypoint/test_ros_packages",
  "github_token": "<github token>"
}

