<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal2" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">Block Config</h4>
</div>
<div class="modal-body">
  <ca-json-editor schema="ctrl.schema" startval="ctrl.startval" on-change="ctrl.onChange(data)" editor-options="ctrl.editor_options" />
  <div id="config-editor"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()">Save</button>

</div>
