<div id="workflow-blockly">
  <div class="modal shortcut-modal" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Keyboard Shortcuts</h4>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt>ctrl + alt + c</dt>
            <dd>Collapse Toggle</dd>
            <dt>ctrl + alt + d</dt>
            <dd>Duplicate Block</dd>
            <dt>ctrl + alt + j</dt>
            <dd>Show javascript code</dd>
            
            <dt>ctrl + alt + l</dt>
            <dd>Show xml code</dd>
            
            <dt>ctrl + alt + f</dt>
            <dd>Search block</dd>
            <dt>ctrl + alt + r</dt>
            <dd>Search block (repeat)</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" ng-controller="ConfigCtrl" id="block-config-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Block Config</h4>
        </div>
        <div class="modal-body">
          <div id="config-editor"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade code-modal" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          <pre class="code" style="font-size:11px;">
            <code class="javascript"></code>
          </pre>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="MainCtrl">
  <div id="header">
    <div id="header-grad"></div>
    <div id="header-main">
      <img src="/img/logo1.png" width="85" height="85">
      <!-- <a href="#" class="toggle_header">Toggle</a> -->
    </div>
    <div id="header-menu">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="dropdown active">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">File <span class="sr-only">(current)</span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">New</a></li>
              <li><a href="#">Open</a></li>
              <li><a href="#">Save</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Edit <span class="sr-only">(current)</span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="clearWorkspace()">Clear board</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Option</span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Share on Cento</a></li>
              <li><a href="#">Advanced Option</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div id="header_toggler">
    <a href="#" class="toggle_header">O</a>
  </div>


    <div class="panel right">
      <div class="content">
        <ul class="list-inline">
          <li><button class="btn btn-sm btn-default" ng-click="runCurrent()">run current</button></li>
          <li><button class="btn btn-sm btn-default" ng-click="clearWorkspace()">clear workspace</button></li>
          <li><button class="btn btn-sm btn-default" ng-click="export()">export</button></li>
          <li><button class="btn btn-sm btn-default" ng-click="import()">import</button></li>
          <input type="file" style="display:none" id="file" name='file' onchange="angular.element(this).scope().fileNameChanged(this)" >
        </ul>


        <h3>engine</h3>
        <ul class="list-inline">
          <li>
            <button class="btn btn-sm btn-default" ng-click="engineReset()">Reset</button>
          </li>
          <li>
            <button class="btn btn-sm btn-default" ng-click="engineLoad()">Load Scripts</button>
          </li>
          <li>
            <button class="btn btn-sm btn-default" ng-click="engineLoadChecked()">Load Checked Scripts</button>
          </li>
        </ul>

        <div ng-controller="ListCtrl">
          <h3>items</h3>
          <input type="file" style="display:none" id="itemsFile" name='file' onchange="angular.element(this).scope().itemsFileNameChanged(this)" >
          <ul class="list-inline">
            <li>
              <button class="btn btn-sm btn-default" ng-click="exportItems()">export items</button>
            </li>
            <li>
              <button class="btn btn-sm btn-default" ng-click="importItems()">import items</button>
            </li>
          </ul>
          <form class="form-inline well">
            <div class="form-group">
              <button class="btn btn-default" ng-click="newData()">new</button>
              title : <input name="title" class="form-control" ng-model="current.title">
              <button class="btn btn-default" ng-click="save()">save</button>
            </div>
          </form>
          <ul id="data">
            <li ng-repeat="i in items track by i.id">
              <input type="checkbox" value="[[i.title]]" ng-checked="itemSelection.indexOf(i.title) > 0" ng-click="toggleItemSelection(i.title)">
              <a href="" ng-click="load(i.id)">[[i.title]]</a>
              <button class="btn btn-sm btn-default" ng-click="deleteItem(i.id)">delete</button>
            </li>
          </ul>
      </div>
      </div>
    </div>
  </div>

  <div class="container0 down">
    <div id="right_switch">
      <a href="#">Hide/Show</a>
    </div>
    <div class="panel left">
      <div id="blocklyDiv"></div>
    </div>
  </div>

    <xml id="toolbox" style="display: none">
    
    <category name="ROS">
      <block type="ros_subscribe">
        <value name="NAME"><block type="text"><field name="TEXT">name</field></block></value>
        <value name="TYPE"><block type="text"><field name="TEXT">type</field></block></value>
      </block>
      <block type="ros_publish">
        <value name="NAME"><block type="text"><field name="TEXT">name</field></block></value>
        <value name="TYPE"><block type="text"><field name="TEXT">type</field></block></value>
      </block>
      <block type="ros_action">
        <value name="NAME"><block type="text"><field name="TEXT">name</field></block></value>
        <value name="TYPE"><block type="text"><field name="TEXT">type</field></block></value>
      </block>
      <block type="ros_service">
        <value name="NAME"><block type="text"><field name="TEXT">name</field></block></value>
        <value name="TYPE"><block type="text"><field name="TEXT">type</field></block></value>
      </block>
      <block type="ros_requester_allocate"></block>
      <block type="ros_requester_release"></block>

    </category>
    <category name="Object">
      <block type="object_create_with"></block>
      <block type="object_item">
        <value name="VALUE"><block type="text"></block></value>
      </block>
      <block type="object_item">
        <value name="VALUE"><block type="math_number"></block></value>
      </block>
      <block type="object_item_get"></block>
      <block type="object_item_get2"></block>
      <block type="object_item_set"></block>
    </category>
    <category name="Utils">
      <block type="action_speak">
        <value name="VALUE"><block type="text"></block></value>
      
      </block>
      <block type="action_sleep">
          <value name="VALUE"><block type="math_number"></block></value>
      </block>
      <block type="json"></block>
      <block type="defer"></block>
    </category>
    
    <category name="Logic"><block type="controls_if"></block><block type="logic_compare"></block><block type="logic_operation"></block><block type="logic_negate"></block><block type="logic_boolean"></block><block type="logic_null"></block><block type="logic_ternary"></block></category>
    <category name="Loops"><block type="controls_repeat_ext"><value name="TIMES"><block type="math_number"><field name="NUM">10</field></block></value></block><block type="controls_whileUntil"></block><block type="controls_for"><value name="FROM"><block type="math_number"><field name="NUM">1</field></block></value><value name="TO"><block type="math_number"><field name="NUM">10</field></block></value><value name="BY"><block type="math_number"><field name="NUM">1</field></block></value></block><block type="controls_forEach"></block><block type="controls_flow_statements"></block></category>
    <category name="Math"><block type="math_number"></block><block type="math_arithmetic"></block><block type="math_single"></block><block type="math_trig"></block><block type="math_constant"></block><block type="math_number_property"></block><block type="math_change"><value name="DELTA"><block type="math_number"><field name="NUM">1</field></block></value></block><block type="math_round"></block><block type="math_on_list"></block><block type="math_modulo"></block><block type="math_constrain"><value name="LOW"><block type="math_number"><field name="NUM">1</field></block></value><value name="HIGH"><block type="math_number"><field name="NUM">100</field></block></value></block><block type="math_random_int"><value name="FROM"><block type="math_number"><field name="NUM">1</field></block></value><value name="TO"><block type="math_number"><field name="NUM">100</field></block></value></block><block type="math_random_float"></block></category>
    
    <category name="Text">
      <block type="text">
      </block>
      <block type="text_join">
      </block>
      <block type="text_append">
      <value name="TEXT">
      <block type="text">
      </block>
      </value>
      </block>
      <block type="text_length">
      </block>
      <block type="text_isEmpty">
      </block>
      <block type="text_indexOf">
      <value name="VALUE">
      <block type="variables_get">
      <field name="VAR">text
      </field>
      </block>
      </value>
      </block>
      <block type="text_charAt">
      <value name="VALUE">
      <block type="variables_get">
      <field name="VAR">text
      </field>
      </block>
      </value>
      </block>
      <block type="text_getSubstring">
      <value name="STRING">
      <block type="variables_get">
      <field name="VAR">text
      </field>
      </block>
      </value>
      </block>
      <block type="text_changeCase">
      </block>
      <block type="text_trim">
      </block>
      <block type="text_print">
      </block>
      <block type="text_prompt_ext">
      <value name="TEXT">
      <block type="text">
      </block>
      </value>
      </block>
    </category>
<category name="Lists">
<block type="lists_create_empty">
</block>
<block type="lists_create_with">
</block>
    <block type="lists_repeat"><value name="NUM"><block type="math_number"><field name="NUM">5</field></block></value></block>
    <block type="lists_length"></block><block type="lists_isEmpty"></block><block type="lists_indexOf"><value name="VALUE"><block type="variables_get"><field name="VAR">list</field></block></value></block><block type="lists_getIndex"><value name="VALUE"><block type="variables_get"><field name="VAR">list</field></block></value></block><block type="lists_setIndex"><value name="LIST"><block type="variables_get"><field name="VAR">list</field></block></value></block><block type="lists_getSublist"><value name="LIST"><block type="variables_get"><field name="VAR">list</field></block></value></block></category>
    
    <category name="Colour"><block type="colour_picker"></block><block type="colour_random"></block><block type="colour_rgb"></block><block type="colour_blend"></block></category>
    
    <category name="Variables" custom="VARIABLE"></category><category name="Functions" custom="PROCEDURE"></category>
    
    
    
    
    <category name="UDF"></category> 
    </xml>

<script type="text/javascript">
  Blockly.inject(document.getElementById('blocklyDiv'),
    {path: './', toolbox: document.getElementById('toolbox')});


</script>
</div>
