<div id="workflow-blockly">
  <div class="modal shortcut-modal" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="mylargemodallabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
          <h4 class="modal-title">keyboard shortcuts</h4>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt>ctrl + s</dt>
            <dd>save</dd>
            <dt>ctrl + alt + c</dt>
            <dd>collapse toggle</dd>
            <dt>ctrl + alt + d</dt>
            <dd>duplicate block</dd>
            <dt>ctrl + alt + j</dt>
            <dd>show javascript code</dd>
            
            <dt>ctrl + alt + l</dt>
            <dd>show xml code</dd>
            
            <dt>ctrl + alt + f</dt>
            <dd>search block</dd>
            <dt>ctrl + alt + r</dt>
            <dd>search block (repeat)</dd>

            <dt>ctrl + alt + t</dt>
            <dd>toggle header</dd>
            <dt>ctrl + alt + y</dt>
            <dd>toggle right panel</dd>
            <dt>ctrl + alt + z</dt>
            <dd>undo</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade code-modal" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="mylargemodallabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
          <h4 class="modal-title" id="mymodallabel"></h4>
        </div>
        <div class="modal-body">
          <pre class="code" style="font-size:11px;">
            <code class="javascript"></code>
          </pre>
        </div>
      </div>
    </div>
  </div>

  <div id="blockly-page" class="blockly_container">

    <div id="alert">
      <div class="alert alert-success"></div>
    </div>
    <div id="header">
      <div id="header-grad"></div>
      <div id="header-main">
        <img src="/img/logo1.png" width="85" height="85" class="logo">
        <div class="info">
          <div class="title">
            <a href="" id="title"  data-type="text" data-inputclass="input-large" data-title=""></a>
          </div>
          <div class="description">
            <a href="" id="description" data-cols="100" data-rows="2" data-type="textarea" data-title=""></a>
          </div>
        </div>
        <!-- <a href="#" class="toggle_header">toggle</a> -->
      </div>
      <div id="header-menu">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><button ui-sref="services" class="btn btn-primary navbar-btn">create service</button></li>
            <li><a href="" class="fa fa-chevron-up toggle_header"></a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown active">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">file <span class="sr-only">(current)</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/#/blockly" target="blank">new</a></li>
                <li><a href="/" target="blank">open</a></li>
                <li><a href="" ng-click="save()">save</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">edit <span class="sr-only">(current)</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="" class="undo">undo</a></li>
                <li><a href="" ng-click="clearworkspace()">clear board</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">option</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">share on cento</a></li>
                <li><a href="" class="toggle_right">advanced option</a></li>
                <li><a href="#">help</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div id="header_toggler">
      <a href="" class="toggle_header fa fa-chevron-down"></a>
    </div>



    <div class="container0 down body">
      <div class="panel left" id="blocklyDiv">
      </div>
      <div class="panel right">
        <div class="content">



          <div>
            <h2>engine</h2>
            <h3>list</h3>
            <ul class="list-inline">
            </ul>
            <ul id="data"  class="items list-unstyled">
              <li ng-repeat="i in items track by i.id">
                <div class="item_wrap">
                  <input type="checkbox" value="[[i.title]]" ng-checked="itemselection.indexof(i.title) > 0" ng-click="toggleitemselection(i.id)">
                  <a href="" ng-click="load(i.id)">[[i.title]]</a>
                  <a href="" class="fa fa-remove" ng-click="deleteitem(i.id)"></a>
                </div>
              </li>
            </ul>


            <ul id="tool-buttons" class="list-inline">
              <li><a href="" title="reset" ng-click="enginereset()"><i class="fa fa-refresh"></i></a></li>
              <!-- <li><a href=""><i class="fa fa-share"></i></a></li> -->
              <li><a href=""><i class="fa fa-play" ng-click="engineloadchecked()"></i></a></li>
              <li><a href=""><i class="fa fa-download" ng-click="exportitems()"></i></a></li>
              <li><a href=""><i class="fa fa-upload" ng-click="importitems()"></i></a></li>
              <input type="file" style="display:none" id="itemsfile" name='file' onchange="angular.element(this).scope().itemsfilenamechanged(this)" >
            </ul>
            <!-- <ul class="list-inline"> -->
              <!-- <li><button class="btn btn-sm btn-default" ng-click="runcurrent()">run current</button></li> -->
              <!-- <li><button class="btn btn-sm btn-default" ng-click="export()">export</button></li> -->
              <!-- <li><button class="btn btn-sm btn-default" ng-click="import()">import</button></li> -->
              <!-- <li> -->
                <!-- <button class="btn btn-sm btn-default" ng-click="exportitems()">export items</button> -->
              <!-- </li> -->
              <!-- <li> -->
                <!-- <button class="btn btn-sm btn-default" ng-click="importitems()">import items</button> -->
              <!-- </li> -->
            <!-- </ul> -->
        </div>
        </div>
      </div>
    </div>
  </div>

  <xml id="toolbox" style="display: none">
  <category name="ros">
    <block type="ros_subscribe">
      <value name="name">
        <block type="text">
          <field name="text">name</field>
        </block>
      </value>
      <value name="type">
        <block type="text">
          <field name="text">type</field>
        </block>
      </value>
    </block>
    <block type="ros_publish">
      <value name="name">
        <block type="text">
          <field name="text">name</field>
        </block>
      </value>
      <value name="type">
        <block type="text">
          <field name="text">type</field>
        </block>
      </value>
    </block>
    <block type="ros_action">
      <value name="name">
        <block type="text">
          <field name="text">name</field>
        </block>
      </value>
      <value name="type">
        <block type="text">
          <field name="text">type</field>
        </block>
      </value>
    </block>
    <block type="ros_service">
      <value name="name">
        <block type="text">
          <field name="text">name</field>
        </block>
      </value>
      <value name="type">
        <block type="text">
          <field name="text">type</field>
        </block>
      </value>
    </block>
    <block type="ros_requester_allocate" />
    <block type="ros_requester_allocate2" />
    <block type="ros_requester_allocate_with_block" />
    <block type="ros_requester_release" />
  </category>
  <category name="logic">
    <block type="controls_if" />
    <block type="logic_compare" />
    <block type="logic_operation" />
    <block type="logic_negate" />
    <block type="logic_boolean" />
    <block type="logic_null" />
    <block type="logic_ternary" />
    <block type="controls_repeat_ext">
      <value name="times">
        <block type="math_number">
          <field name="num">10</field>
        </block>
      </value>
    </block>
    <block type="controls_whileuntil" />
    <block type="controls_for">
      <value name="from">
        <block type="math_number">
          <field name="num">1</field>
        </block>
      </value>
      <value name="to">
        <block type="math_number">
          <field name="num">10</field>
        </block>
      </value>
      <value name="by">
        <block type="math_number">
          <field name="num">1</field>
        </block>
      </value>
    </block>
    <block type="controls_foreach" />
    <block type="controls_flow_statements" />
  </category>
  <category name="object">
    <block type="object_create_with" />
    <block type="object_item">
      <value name="value">
        <block type="text" />
      </value>
    </block>
    <block type="object_item">
      <value name="value">
        <block type="math_number" />
      </value>
    </block>
    <block type="object_item_get" />
    <block type="object_item_get2" />
    <block type="object_item_set" />
    <!-- math -->
    <block type="math_number" />
    <block type="math_arithmetic" />
    <block type="math_single" />
    <block type="math_trig" />
    <block type="math_constant" />
    <block type="math_number_property" />
    <block type="math_change">
      <value name="delta">
        <block type="math_number">
          <field name="num">1</field>
        </block>
      </value>
    </block>
    <block type="math_round" />
    <block type="math_on_list" />
    <block type="math_modulo" />
    <block type="math_constrain">
      <value name="low">
        <block type="math_number">
          <field name="num">1</field>
        </block>
      </value>
      <value name="high">
        <block type="math_number">
          <field name="num">100</field>
        </block>
      </value>
    </block>
    <block type="math_random_int">
      <value name="from">
        <block type="math_number">
          <field name="num">1</field>
        </block>
      </value>
      <value name="to">
        <block type="math_number">
          <field name="num">100</field>
        </block>
      </value>
    </block>
    <block type="math_random_float" />
    <!-- text -->
    <block type="text" />
    <block type="text_join" />
    <block type="text_append">
      <value name="text">
        <block type="text" />
      </value>
    </block>
    <block type="text_length" />
    <block type="text_isempty" />
    <block type="text_indexof">
      <value name="value">
        <block type="variables_get">
          <field name="var">text</field>
        </block>
      </value>
    </block>
    <block type="text_charat">
      <value name="value">
        <block type="variables_get">
          <field name="var">text</field>
        </block>
      </value>
    </block>
    <block type="text_getsubstring">
      <value name="string">
        <block type="variables_get">
          <field name="var">text</field>
        </block>
      </value>
    </block>
    <block type="text_changecase" />
    <block type="text_trim" />
    <block type="text_print" />
    <block type="text_prompt_ext">
      <value name="text">
        <block type="text" />
      </value>
    </block>
  </category>
  <category name="utils">
    <block type="declare_var" />
    <block type="action_speak">
      <value name="value">
        <block type="text" />
      </value>
    </block>
    <block type="action_sleep">
      <value name="value">
        <block type="math_number" />
      </value>
    </block>
    <block type="json" />
    <block type="defer" />
    <block type="lists_create_empty" />
    <block type="lists_create_with" />
    <block type="lists_repeat">
      <value name="num">
        <block type="math_number">
          <field name="num">5</field>
        </block>
      </value>
    </block>
    <block type="lists_length" />
    <block type="lists_isempty" />
    <block type="lists_indexof">
      <value name="value">
        <block type="variables_get">
          <field name="var">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getindex">
      <value name="value">
        <block type="variables_get">
          <field name="var">list</field>
        </block>
      </value>
    </block>
    <block type="lists_setindex">
      <value name="list">
        <block type="variables_get">
          <field name="var">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getsublist">
      <value name="list">
        <block type="variables_get">
          <field name="var">list</field>
        </block>
      </value>
    </block>
  </category>
  <!-- <category name="colour"><block type="colour_picker"></block><block type="colour_random"></block><block type="colour_rgb"></block><block type="colour_blend"></block></category> -->
  <category name="variables" custom="variable" />
  <category name="functions" custom="procedure" />
</xml>

    
    
  <script type="text/javascript">
    Blockly.inject(document.getElementById('blocklyDiv'),
      {path: './', toolbox: document.getElementById('toolbox')});
    // var undo_manager = window.undo_manager = new undomanager();
    // undo_manager.start();


  </script>
</div>
