
<div id="workflow_index" ng-controller="ServicesIndexCtrl">
  <div class="left">
    <h2>RECENT</h2>

    <ul class="recents list-unstyled">
      <li ng-repeat="item in recents">
        <div class="title">[[item.title]]</div>
        <div class="date">update [[item.created_at | date:'yyyy-MM-dd']]</div>
      </li>
    </ul>
  </div>

  <div class="right">
    <h2>NEW</h2>
    <button class="btn btn-primary" ui-sref="services">new</button>
    <h2>SERVICES</h2>
    <div class="items">
      <ul class="items-list list-unstyled">
        <li class="item" ng-repeat="item in services track by item.id">
          <div class="item-head">
            <div class="title"><a href="" ui-sref="services_edit({service_id: item.id})">[[item.name]]</a></div>
            <div class="description">[[item.description]]</div>
          </div>

          <div class="bl">
            <span class="date">update [[item.created_at | date:'yyyy-MM-dd']]</span>
          </div>
          <div class="br">
            <span class="date"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
