<div id="workflow_index" ng-controller="WorkflowIndexCtrl">
  <div class="left">
    <h2 class="blue">RECENT</h2>

    <ul class="recents list-unstyled">
      <li ng-repeat="item in recents">
        <div class="title">[[item.title]]</div>
        <div class="date">update [[item.id | date:'yyyy-MM-dd']]</div>
      </li>
    </ul>
  </div>

  <div class="right">
    <h2>NEW</h2>
    <button class="btn btn-primary" ui-sref="workflow_blockly">Blockly</button>
    <h2>LIBRARY</h2>
    <div class="search">
      <img src="/img/search.png" width="30px" height="30px">
      <input type="text" class="gray-input">
      <button class="gray-btn">Search</button>
    </div>
    <div class="items">
      <ul class="items-list list-unstyled">
        <li class="item" ng-repeat="item in items">
          <div class="item-head">
            <div class="title">[[item.title]]</div>
            <div class="description">[[item.description]]</div>
          </div>
          <div class="item-body">
            <ul>
              <li>Movement</li>
              <li>TTS</li>
              <li>Touch</li>
            </ul>
          </div>


          <div class="bl">
            <span class="date">update [[item.id | date:'yyyy-MM-dd']]</span>
          </div>
          <div class="br">
            <span class="date"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
