<!doctype html>
<html ng-app="engine-dashboard">
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/bootstrap@3.3.1(css/bootstrap.min.css),highlight.js(styles/github.min.css)" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
      window.SOCKETIO_PORT = '{{socketio_port}}';
    </script>

  </head>

  <body>
    <div class="container">
      <div ng-controller="engineDashboardController">
        <h1>Engine</h1>


        <ul>
          <li ng-repeat="topic in published">
            [[topic.name]] ([[topic.type]]) [[topic.payload | json]]
          </li>
        </ul>
      </div>

    </div>
    <script src="http://cdn.jsdelivr.net/g/jquery,angularjs" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/js/vendor/socket.min.js" type="text/javascript"></script>
    <script src="/bundle-enginedash.js"></script>
  </body>

</html>

