<!doctype html>
<html ng-app="engine-dashboard">
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/bootstrap@3.3.1(css/bootstrap.min.css),highlight.js(styles/github.min.css)" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>
    <div class="engine-dashboard">
        <ul class="nav nav-sidebar sidebar">
          <li><a href="">Overview</a></li>
          <li><a href="">Item #1</a></li>
          <li><a href="">Item #2</a></li>
          <li><a href="">Item #3</a></li>
        </ul>
        <div class="main" ng-controller="engineDashboardController" ng-cloak>
          <h3>Engines</h3>
          <div id="engines">
            <div class="panel panel-default" ng-repeat="proc in processes">
              <div class="panel-heading">Engine#[[proc.pid]]</div>
              <div class="panel-body">
                Status : <span ng-class="{'label-default': true, 'label-success': proc.status=='running', label: true}">[[proc.status]]</span>
                <div ng-if="proc.status == 'running'">
                  Running Items :
                  <ul>
                    <li ng-repeat="item in proc.running_items">
                      <strong>[[item.title]]</strong>
                    </li>
                  </ul>

                </div>
                <div class="text-right">
                  <button class="btn btn-sm btn-default" ng-click="run(proc.pid)">Run</button>
                  <button class="btn btn-sm btn-danger" ng-click="killEngine(proc.pid)">Kill</button>
                </div>

              </div>
            </div>
          </div>
          <button class="btn btn-default" ng-click="run()">Run</button>
          <button class="btn btn-default" ng-click="start()">Start</button>


          <h3>Resources</h3>
          <div id="resources">
            <div class="panel panel-default" ng-repeat="res in resources">
              <div class="panel-heading">[[res.requester]]</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li ng-repeat="req in res.requests">
                    <dl class="dl-horizontal2">
                      <dt>status</dt><dd>[[req.status]]</dd>
                      <dt>availability</dt><dd>[[req.availability]]</dd>
                      <dt>priority</dt><dd>[[req.priority]]</dd>
                    </dl>


                    <div ng-repeat="res in req.resources">
                      <dl class="dl-horizontal2">
                        <dt>rapp</dt><dd>[[res.rapp]]</dd>
                        <dt>uri</dt><dd>[[res.uri]]</dd>
                      </dl>
                      Remappings
                      <ul>
                        <li ng-repeat="remap in res.remappings">
                          <span>[[remap.remap_from]] &rarr; [[remap.remap_to]]</span>
                        </li>
                      </ul>
                      Parameters
                      <ul>
                        <li ng-repeat="param in res.parameters">
                          <span>[[param.key]] : [[param.value]]</span>
                        </li>
                      </ul>
                    </div>





                  </li>
                </ul>
              </div>
            </div>
          </div>




          <ul>
            <li ng-repeat="topic in published">
              [[topic.name]] ([[topic.type]]) [[topic.payload | json]]
            </li>
          </ul>

        </div>


    </div>
    <script src="http://cdn.jsdelivr.net/g/jquery,angularjs,lodash,angular.bootstrap(ui-bootstrap-tpls.min.js)" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/js/vendor/socket.min.js" type="text/javascript"></script>
    <script src="/bundle-enginedash.js"></script>
  </body>

</html>

