<!doctype html>
<html ng-app="centoAuthoring">
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/bootstrap@3.3.1(css/bootstrap.min.css),highlight.js(styles/github.min.css)" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.5.2/select2.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script>
      MSG_DATABASE = '{{msg_database}}';
    </script>


    <script type="text/javascript" src="//cdn.jsdelivr.net/g/highlight.js"></script>
    <!-- select2 -->

    <!-- user -->
    <script type="text/javascript" src="/vendor.js"></script>
    <script type="text/javascript" src="/bundle.js"></script>
  </head>

  <body ng-controller="RootCtrl">
    {% block content %}{% endblock %}
  </body>

</html>

