
html {
  height: 100%;

}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  height: 100%;
}

button {
  font-size: 14px;

}
.panel {
  margin: 0;
  padding: 0;
}
.left {
  width: 50%;
  height: 100%;
  float: left;
}
#blocklyDiv {
  width: 100%;
  height: 100%;

}
.right {
  width: 50%;
  height: 100%;
  float: left;

}

.right .content {
  padding: 20px;

}

.container0 {
  height: 100%;

}

