html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  height: 100%;
}
button {
  font-size: 14px;
}
.panel {
  margin: 0;
  padding: 0;
  border: none;
}
#workflow-blockly {
  /* #blocklyDiv { */
  /* width: 100%; */
  /* height: 100%; */
  /* } */
}
#workflow-blockly .container0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
}
#workflow-blockly .container0.down {
  top: 175px;
}
#workflow-blockly .left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#workflow-blockly #blocklyDiv {
  width: 100%;
  height: 99%;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */
}
#workflow-blockly .right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  top: 0px;
  border-left: 1px solid #ccc;
  z-index: 150;
  box-shadow: -10px 0px 10px -10px #cccccc;
}
#workflow-blockly .right #tool-buttons li a {
  color: black;
}
#workflow-blockly .right #tool-buttons li i {
  font-size: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #bcbdc0;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
}
#workflow-blockly .items .item_wrap {
  position: relative;
  padding: 5px 10px;
}
#workflow-blockly .items .item_wrap .fa-remove {
  position: absolute;
  right: 0;
  color: red;
}
#workflow-blockly #right_switch {
  position: absolute;
  top: 0;
  right: 150px;
  background-color: #333;
  color: #eee;
  z-index: 999;
}
#workflow-blockly #right_switch a {
  color: #eee;
  display: block;
  padding: 0.1em 0.5em;
  text-decoration: none;
}
#workflow-blockly .right .content {
  padding: 20px;
}
#workflow-blockly #header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 175px;
  background-color: white;
}
#workflow-blockly #header #header-grad {
  height: 7px;
  background: linear-gradient(to right, #00adef, #0d4781);
}
#workflow-blockly #header #header-main {
  height: 118px;
  padding: 15px 40px;
}
#workflow-blockly #header #header-menu {
  height: 50px;
  background-color: #404041;
  padding: 0 150px;
}
#workflow-blockly #header #header-menu a {
  color: white;
  background-color: transparent;
}
#workflow-blockly #header #header-menu a:hover {
  background-color: transparent;
}
#workflow-blockly #header #header-menu .dropdown-menu a {
  color: #262626;
}
#workflow-blockly #header_toggler {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  z-index: 100;
}
#block_config textarea {
  width: 100%;
  font-size: 12px;
  height: 10em;
}
#workflow_index {
  padding: 0px;
  margin: 0;
  overflow: hidden;
}
#workflow_index .right {
  padding: 30px;
  position: fixed;
  top: 45px;
  left: 445px;
  right: 0;
  padding: 20px;
  bottom: 20px;
}
#workflow_index .right .items {
  position: absolute;
  top: 300px;
  right: 10px;
  left: 30px;
  bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#workflow_index .right .items .items-list {
  position: relative;
  overflow: hidden;
}
#workflow_index .right .items .items-list li {
  float: left;
  width: 350px;
  height: 300px;
  border: solid 1px #e9e9e9;
  border-radius: 10px;
  margin-right: 14px;
  margin-bottom: 24px;
  font-size: 24px;
  box-shadow: 0 10px #a7a7a7;
}
#workflow_index .left {
  position: fixed;
  top: 45px;
  left: 45px;
  bottom: 45px;
  padding: 20px;
  width: 400px;
  border-right: solid 1px #ebebeb;
}
#workflow_index .left .recents li {
  margin-bottom: 24px;
}
#workflow_index .left .recents li .title {
  font-size: 24px;
}
/* blockly override */
.blocklySvg {
  border: none !important;
}
#blocklyDiv div[role=tree] {
  padding: 0 !important;
  width: 160px;
}
#blocklyDiv div[role=treeitem] {
  color: white;
  height: 44px;
  padding: 10px 0;
  font-size: 14px !important;
}
#blocklyDiv div[role=treeitem]:nth-child(1) {
  background-color: #1e6ab3 !important;
}
#blocklyDiv div[role=treeitem] > .blocklyTreeSelected {
  background-color: rgba(0, 0, 0, 0) !important;
  font-weight: bold;
}
#blocklyDiv div[role=treeitem]:hover > .blocklyTreeRow {
  background-color: rgba(0, 0, 0, 0) !important;
}
#blocklyDiv div[role=treeitem]:nth-child(2) {
  background-color: #25ade3 !important;
}
#blocklyDiv div[role=treeitem]:nth-child(3) {
  background-color: #a7a9ac !important;
}
#blocklyDiv div[role=treeitem]:nth-child(4) {
  background-color: #818285 !important;
}
#blocklyDiv div[role=treeitem]:nth-child(5) {
  background-color: #58585a !important;
}
#blocklyDiv div[role=treeitem]:nth-child(6) {
  background-color: #404041 !important;
}
