<div id="workflow-blockly">
  <div class="modal shortcut-modal" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Keyboard Shortcuts</h4>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt>ctrl + s</dt>
            <dd>Save</dd>
            <dt>ctrl + alt + c</dt>
            <dd>Collapse Toggle</dd>
            <dt>ctrl + alt + d</dt>
            <dd>Duplicate Block</dd>
            <dt>ctrl + alt + j</dt>
            <dd>Show javascript code</dd>
            
            <dt>ctrl + alt + l</dt>
            <dd>Show xml code</dd>
            
            <dt>ctrl + alt + f</dt>
            <dd>Search block</dd>
            <dt>ctrl + alt + r</dt>
            <dd>Search block (repeat)</dd>

            <dt>ctrl + alt + t</dt>
            <dd>Toggle Header</dd>
            <dt>ctrl + alt + y</dt>
            <dd>Toggle Right Panel</dd>
            <dt>ctrl + alt + z</dt>
            <dd>Undo</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade code-modal" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          <pre class="code" style="font-size:11px;">
            <code class="javascript"></code>
          </pre>
        </div>
      </div>
    </div>
  </div>

  <div id="blockly-page" class="blockly_container">

    <div id="alert">
      <div class="alert alert-success"></div>
    </div>
    <div id="header">
      <div id="header-grad"></div>
      <div id="header-main">
        <img src="/img/logo1.png" width="85" height="85" class="logo">
        <div class="info">
          <div class="title">
            <a href="" id="title"  data-type="text" data-inputclass="input-large" data-title=""></a>
          </div>
          <div class="description">
            <a href="" id="description" data-cols="100" data-rows="2" data-type="textarea" data-title=""></a>
          </div>
        </div>
        <!-- <a href="#" class="toggle_header">Toggle</a> -->
      </div>
      <div id="header-menu">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><button ui-sref="services" class="btn btn-primary navbar-btn">Create Service</button></li>
            <li><a href="" class="fa fa-chevron-up toggle_header"></a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown active">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">File <span class="sr-only">(current)</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/#/blockly" target="blank">New</a></li>
                <li><a href="/" target="blank">Open</a></li>
                <li><a href="" ng-click="save()">Save</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Edit <span class="sr-only">(current)</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="" class="undo">Undo</a></li>
                <li><a href="" ng-click="clearWorkspace()">Clear board</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Option</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Share on Cento</a></li>
                <li><a href="" class="toggle_right">Advanced Option</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div id="header_toggler">
      <a href="" class="toggle_header fa fa-chevron-down"></a>
    </div>



    <div class="container0 down body">
      <div class="panel left" id="blocklyDiv">
      </div>
      <div class="panel right">
        <div class="content">



          <div>
            <h2>Engine</h2>
            <h3>List</h3>
            <ul class="list-inline">
            </ul>
            <ul id="data"  class="items list-unstyled">
              <li ng-repeat="i in items track by i.id">
                <div class="item_wrap">
                  <input type="checkbox" value="[[i.title]]" ng-checked="itemSelection.indexOf(i.title) > 0" ng-click="toggleItemSelection(i.title)">
                  <a href="" ng-click="load(i.id)">[[i.title]]</a>
                  <a href="" class="fa fa-remove" ng-click="deleteItem(i.id)"></a>
                </div>
              </li>
            </ul>


            <ul id="tool-buttons" class="list-inline">
              <!-- <li><a href=""><i class="fa fa-share"></i></a></li> -->
              <li><a href=""><i class="fa fa-download" ng-click="exportItems()" tooltip="Export" tooltip-placement="bottom"></i></a></li>
              <li><a href=""><i class="fa fa-upload" ng-click="importItems()" tooltip="Import" tooltip-placement="bottom"></i></a></li>
              <input type="file" style="display:none" id="itemsFile" name='file' onchange="angular.element(this).scope().itemsFileNameChanged(this)" >
            </ul>
            <!-- <ul class="list-inline"> -->
              <!-- <li><button class="btn btn-sm btn-default" ng-click="runCurrent()">run current</button></li> -->
              <!-- <li><button class="btn btn-sm btn-default" ng-click="export()">export</button></li> -->
              <!-- <li><button class="btn btn-sm btn-default" ng-click="import()">import</button></li> -->
              <!-- <li> -->
                <!-- <button class="btn btn-sm btn-default" ng-click="exportItems()">export items</button> -->
              <!-- </li> -->
              <!-- <li> -->
                <!-- <button class="btn btn-sm btn-default" ng-click="importItems()">import items</button> -->
              <!-- </li> -->
            <!-- </ul> -->
        </div>
        </div>
      </div>
    </div>
  </div>

  <xml id="toolbox" style="display: none">
  <category name="Rocon">
    <block type="ros_subscribe">
      <value name="NAME">
        <block type="text">
          <field name="TEXT">name</field>
        </block>
      </value>
      <value name="TYPE">
        <block type="text">
          <field name="TEXT">type</field>
        </block>
      </value>
    </block>
    <block type="ros_publish">
      <value name="NAME">
        <block type="text">
          <field name="TEXT">name</field>
        </block>
      </value>
      <value name="TYPE">
        <block type="text">
          <field name="TEXT">type</field>
        </block>
      </value>
    </block>
    <block type="ros_action">
      <value name="NAME">
        <block type="text">
          <field name="TEXT">name</field>
        </block>
      </value>
      <value name="TYPE">
        <block type="text">
          <field name="TEXT">type</field>
        </block>
      </value>
    </block>
    <block type="ros_service">
      <value name="NAME">
        <block type="text">
          <field name="TEXT">name</field>
        </block>
      </value>
      <value name="TYPE">
        <block type="text">
          <field name="TEXT">type</field>
        </block>
      </value>
    </block>
    <block type="ros_requester_allocate" />
    <block type="ros_requester_allocate2" />
    <block type="ros_requester_allocate_with_block" />
    <block type="ros_requester_release" />
  </category>
  <category name="Logic">
    <block type="controls_if" />
    <block type="logic_compare" />
    <block type="logic_operation" />
    <block type="logic_negate" />
    <block type="logic_boolean" />
    <block type="logic_null" />
    <block type="logic_ternary" />
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <block type="math_number">
          <field name="NUM">10</field>
        </block>
      </value>
    </block>
    <block type="controls_whileUntil" />
    <block type="controls_for">
      <value name="FROM">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
      <value name="TO">
        <block type="math_number">
          <field name="NUM">10</field>
        </block>
      </value>
      <value name="BY">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
    </block>
    <block type="controls_forEach" />
    <block type="controls_flow_statements" />
  </category>
  <category name="Object">
    <block type="object_create_with" />
    <block type="object_item">
      <value name="VALUE">
        <block type="text" />
      </value>
    </block>
    <block type="object_item">
      <value name="VALUE">
        <block type="math_number" />
      </value>
    </block>
    <block type="object_item_get" />
    <block type="object_item_get2" />
    <block type="object_item_set" />
    <!-- math -->
    <block type="math_number" />
    <block type="math_arithmetic" />
    <block type="math_single" />
    <block type="math_trig" />
    <block type="math_constant" />
    <block type="math_number_property" />
    <block type="math_change">
      <value name="DELTA">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
    </block>
    <block type="math_round" />
    <block type="math_on_list" />
    <block type="math_modulo" />
    <block type="math_constrain">
      <value name="LOW">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
      <value name="HIGH">
        <block type="math_number">
          <field name="NUM">100</field>
        </block>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
      <value name="TO">
        <block type="math_number">
          <field name="NUM">100</field>
        </block>
      </value>
    </block>
    <block type="math_random_float" />
    <!-- text -->
    <block type="text" />
    <block type="text_join" />
    <block type="text_append">
      <value name="TEXT">
        <block type="text" />
      </value>
    </block>
    <block type="text_length" />
    <block type="text_isEmpty" />
    <block type="text_indexOf">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">text</field>
        </block>
      </value>
    </block>
    <block type="text_charAt">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">text</field>
        </block>
      </value>
    </block>
    <block type="text_getSubstring">
      <value name="STRING">
        <block type="variables_get">
          <field name="VAR">text</field>
        </block>
      </value>
    </block>
    <block type="text_changeCase" />
    <block type="text_trim" />
    <block type="text_print" />
    <block type="text_prompt_ext">
      <value name="TEXT">
        <block type="text" />
      </value>
    </block>
  </category>
  <category name="Utils">
    <block type="ui_horizontal" />
    <block type="ui_vertical" />
    <block type="ui_button">
      <value name="NAME">
        <block type="text" />
      </value>
      <value name="TEXT">
        <block type="text" />
      </value>
    </block>
    <block type="prezi_next_with_channel" />
    <block type="prezi_prev_with_channel" />
    <block type="prezi_move_with_channel" />
    <block type="declare_var" />
    <block type="action_speak">
      <value name="VALUE">
        <block type="text" />
      </value>
    </block>
    <block type="action_sleep">
      <value name="VALUE">
        <block type="math_number" />
      </value>
    </block>
    <block type="json" />
    <block type="defer" />
    <block type="lists_create_empty" />
    <block type="lists_create_with" />
    <block type="lists_repeat">
      <value name="NUM">
        <block type="math_number">
          <field name="NUM">5</field>
        </block>
      </value>
    </block>
    <block type="lists_length" />
    <block type="lists_isEmpty" />
    <block type="lists_indexOf">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getIndex">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">list</field>
        </block>
      </value>
    </block>
    <block type="lists_setIndex">
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getSublist">
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR">list</field>
        </block>
      </value>
    </block>
  </category>
  <!-- <category name="Colour"><block type="colour_picker"></block><block type="colour_random"></block><block type="colour_rgb"></block><block type="colour_blend"></block></category> -->
  <category name="Variables" custom="VARIABLE" />
  <category name="Functions" custom="PROCEDURE" />
</xml>

    
    
<script type="text/javascript">
  // Blockly.inject(document.getElementById('blocklyDiv'),
  //   {path: './', toolbox: document.getElementById('toolbox')});
  // var undo_manager = window.undo_manager = new UndoManager();
  // undo_manager.start();


</script>
</div>
