    <h2 class=" blue no-top-mg">
      <img src="/img/logo1.png" height="32"> HIC App
    </h2>

    <form>
        <div class="form-group">
        	<label for="">Filename</label>
        	<input class="form-control" type="" ng-model="current.filename">
        </div>
        <div class="form-group">
        	<label for="">Name</label>
        	<input class="form-control" type="" ng-model="current.name">
        </div>
        <div class="form-group">
        	<label for="">Compatibility</label>
        	<input class="form-control" type="" ng-model="current.compatibility">
        </div>

        <h3>Defaults</h3>
        <div class="form-group">
        	<label for="">Display Name</label>
        	<input class="form-control" type="" ng-model="current.defaults.display">
        </div>
        <div class="form-group">
        	<label for="">Description</label>
        	<input class="form-control" type="" ng-model="current.defaults.description">
        </div>

        <div class="form-group">
        	<label for="">Max</label>
          <input type="text" class="form-control" ng-model="current.defaults.max">
        </div>


        <h3>Interfaces</h3>

        <div ng-repeat="ifn in ['subscribers', 'publishers', 'services', 'action_clients', 'action_servers']">
          <h4>[[ifn]]</h4> 
          <table class="table table-bordered" style="width: auto;">
            <tr class="">
              <th>Name</th>
              <th>Type</th>
              <th></th>
            </tr>
            </tr>
            <tr ng-repeat="if in current.interfaces[ifn]">
              <td><input type="text" class="form-control" ng-model="if.name"></td>
              <td><input type="text" class="form-control" ng-model="if.type"></td>
              <td><button class="btn btn-default" ng-click="deleteItem(current.interfaces[ifn], if)">Delete</button></td>
            </tr>
          </table>
          <button class="btn btn-default btn-sm" ng-click="addItem(current.interfaces[ifn], {})">Add Interface</button>
        </div>


    </form>
    <div class="toolbar">
      <button type="submit" ui-sref="apps" class="btn btn-primary">List</button>
      <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>
      <button type="submit" ng-click="export()" class="btn btn-primary">Export</button>
    </div>

    <pre class="debug" style="position: fixed; top: 0; right: 0; width: 400px; height: 400px; overflow: auto; display: none;">[[current | json]]</pre>




