<div class="container">

    <h2>
      <img src="/img/logo1.png" height="32"> Rapp
    </h2>

    <form>
        <div class="form-group">
        	<label for="">Name</label>
        	<input class="form-control" type="" ng-model="current.name">
        </div>
        <div class="form-group">
        	<label for="">Display</label>
        	<input class="form-control" type="" ng-model="current.display">
        </div>
        <div class="form-group">
        	<label for="">Description</label>
        	<input class="form-control" type="" ng-model="current.description">
        </div>
        <div class="form-group">
        	<label for="">Compatibility</label>
        	<input class="form-control" type="" ng-model="current.compatibility">
        </div>
        <div class="form-group">
        	<label for="">Parent Name</label>
        	<input class="form-control" type="" ng-model="current.parent_name">
        </div>

        <div class="form-group">
        	<label for="">Launch</label>
          <textarea class="form-control" type="" ng-model="current.launcher_body"></textarea>
        </div>


        <h3>
          Interfaces
        </h3>

        <div ng-repeat="ifn in ['subscribers', 'publishers', 'services', 'action_clients', 'action_servers']">
          <h4>[[ifn]]</h4> 
          <table class="table table-bordered" style="width: auto;">
            <tr class="">
              <th>Name</th>
              <th>Type</th>
              <th></th>
            </tr>
            </tr>
            <tr ng-repeat="if in current.interfaces[ifn]">
              <td><input type="text" class="form-control" ng-model="if.name"></td>
              <td><input type="text" class="form-control" ng-model="if.type"></td>
              <td><button class="btn btn-default" ng-click="deleteItem(current.interfaces[ifn], if)">Delete</button></td>
            </tr>
          </table>
          <button class="btn btn-default btn-sm" ng-click="addItem(current.interfaces[ifn], {})">Add Interface</button>
        </div>

        <div style="margin-bottom: 20px;">
          <h3>Parameters</h3>
          <table class="table table-bordered" style="width: auto;">
            <tr class="">
              <th>key</th>
              <th>value</th>
              <th></th>
            </tr>
            </tr>
            <tr ng-repeat="param in current.parameters">
              <td><input type="text" class="form-control" ng-model="param.key"></td>
              <td><input type="text" class="form-control" ng-model="param.value"></td>
              <td><button class="btn btn-default" ng-click="deleteItem(current.parameters, param)">Delete</button></td>
            </tr>
          </table>
          <button class="btn btn-default" ng-click="addItem(current.parameters, {key: null, value: null, expose: true})">Add Parameter</button>
        </div>

    </form>
    <div class="toolbar">
      <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>
      <button type="submit" ng-click="export()" class="btn btn-primary">Export</button>
    </div>

    <pre class="debug" style="position: fixed; top: 0; right: 0; width: 400px; height: 400px; overflow: auto; display: none;">[[current | json]]</pre>



</div>

